<h1>Welcome to {{ title }}!</h1>

<h2>GitHub user search:</h2>

<form [formGroup]="formGroup">
    <mat-form-field>
        <input matInput formControlName="search" placeholder="User ID" />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="fetchUser()">
        Go!
    </button>
</form>

<ng-container *ngIf="loading">
    Loading...
</ng-container>
<ng-container *ngIf="!loading && user">
    <img [src]="user.avatar_url" class="avatar" /><br />
    <strong>Login:</strong> {{ user.login }}<br />
    <strong>Name:</strong> {{ user.name }}<br />
    <strong>URL:</strong> <a [href]="user.html_url" target="_blank">{{ user.html_url }}</a>
</ng-container>
