<h1>
    <img src="./assets/img/logo.svg" />
    <span>YPK Lab {{ title }}</span>
</h1>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            GitHub user search
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formGroup" class="search-form">
            <mat-form-field>
                <input matInput formControlName="search" placeholder="User ID" />
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" (click)="fetchUser()">
                Go!
            </button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
        <mat-card-content class="user__card-content">
        <div>
            <mat-spinner *ngIf="loading; else avatarBlock" diameter="70"></mat-spinner>
            <ng-template #avatarBlock>
                <img *ngIf="user" [src]="user.avatar_url" class="user__avatar" />
            </ng-template>
        </div>
        <div>
            <ul class="user__infos">
                <li>Login: <strong>{{ user?.login }}</strong></li>
                <li>Name: <strong>{{ user?.name }}</strong></li>
                <li>URL: <a [href]="user?.html_url" target="_blank">{{ user?.html_url }}</a></li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>
